{% extends "BonPlanBundle::admin.html.twig" %}
{% block firsta %}

    <div class="section-header">

        {{ form_start(form) }}


        {{ form_widget(form) }}


        {{ form_end(form) }}
    </div>


{% endblock %}